.mat-radio-label-content {
    margin: 5px;
    padding-left: unset !important;
}

.mat-spinner-center {
    margin: 0 auto;
}

.pad-right-unset {
    padding-right: unset;
}

.info-box {
    background-color: red;
    width: 40px;
}

.info-ml {
    margin-left: 10px;
}